# Ignore all files without extension
*
!*.*
!*/
#######################################
# DO NOT INSERT CHANGES ABOVE THIS LINE
# They will be most likely ineffective
# due to the line !*.*
#######################################

# Ignore changes to config file of Makefile (so that local changes from user do not overwrite template in repo)
compiler.settings

# Ignore Python cache
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/

# Ignore CPL cache
.cpl/
*/.cpl/
*/*/.cpl/
*/*/*/.cpl/
*/*/*/*/.cpl/

# Ignore compiled channel
channel

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.pyc
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
